<%= form_for @dining_table do |f|%>
  <div class="box-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Section</label>
      <%= f.select :section_id, options_for_select(@sections.collect{|i| [i.name,i.id]}, selected: @dining_table&.section_id),{}, class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">No. of Seat</label>
      <%= f.number_field :no_of_seat, placeholder: "No. of Seat", min: 2, max: 12, class: 'form-control'%>
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <%= f.submit "Save", class: 'btn btn-primary'%>
  </div>
<%end%>