<div class='row'>
  <div class='col-xs-12'>
    <div class='box box-primary'>
      <div class='box-header with-border'>
        <h3 class="box-title">Edit Table</h3>
      </div>
      <%= render 'form'%>
    </div>
  </div>
</div>