<div class='row'>
  <div class='col-xs-12'>
    <div class='box box-primary'>
      <div class='box-header with-border'>
        <h3 class="box-title">Table Listing</h3>
        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <%= link_to "Add New",new_dining_table_path, class: 'btn btn-xs btn-info'%>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>Sr. NO. </th>
            <th>Section</th>
            <th>No. Of Seatings</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <%@dining_tables.each do |dining_table|%>
            <tr>
              <td><%= dining_table.id%></td>
              <td><%= dining_table.section_name%></td>
              <td><%= dining_table.no_of_seat%></td>
              <td><%= dining_table.status%></td>
              <td><%= link_to 'Edit', edit_dining_table_path(dining_table)%> | <%= link_to 'Delete', dining_table_path(dining_table), method: :delete%></td>
            </tr>
          <%end%>
        </tbody></table>
      </div>
      <div class="box-footer clearfix">
        <%=paginate @dining_tables%>
      </div>
    </div>
  </div>
</div>