<%= form_for @reservation.becomes(Reservation) do |f|%>
  <div class="box-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Reservation Type</label>
      <%= f.select :type, options_for_select(Reservation::TYPES, selected: @reservation&.type),{}, class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Reservation Date Time</label>
      <%#= select_datetime(default_time(@reservation.booking_start_time), name: "booking")%>
      <%= f.text_field :booking_start_time, class: 'form-control datetimepicker', value: default_time(@reservation.booking_start_time)%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">No. Of Guests</label>
      <%= f.number_field :no_of_people, min: 1, max: 12, placeholder: 'Select No. of Guests', class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Table No.</label>
      <%= f.select :dining_table_id, options_for_select(@dining_tables.collect{|i| ["#{i.section_name}-#{i.id}", i.id]}, selected: @reservation&.dining_table_id),{}, class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Customer Name</label>
      <%= f.text_field :customer_name, placeholder: 'Enter Customer Name', class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Customer Email</label>
      <%= f.text_field :customer_email, placeholder: 'Enter Customer Email', class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Customer Phone No.</label>
      <%= f.text_field :customer_mobile, placeholder: 'Enter Customer Phone No.', class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Tags</label>
      <%#= f.select :tags, options_for_select(Reservation::TYPES, selected: @reservation&.type),{}, class: 'form-control'%>
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <%= f.submit "Save", class: 'btn btn-primary'%>
  </div>
<%end%>