<div class='row'>
  <div class='col-xs-12'>
    <div class='box box-primary'>
      <div class='box-header with-border'>
        <h3 class="box-title">Reservation Listing</h3>
        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <%= link_to "Add Reservation",new_reservation_path, class: 'btn btn-xs btn-info'%>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th> ID</th>
            <th>Table No. </th>
            <th>Customer Details</th>
            <th>No. Of Seatings</th>
            <th>Timing</th>
            <th>Booking Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <%@reservations.each do |reservation|%>
            <tr>
              <td><%= reservation.id%></td>
              <td><%= "#{reservation.dining_table_id} - #{reservation.dining_table.section_name}"%></td>
              <td><%= reservation.customer_name + " " + reservation.try(:customer_mobile) + " " + reservation.try(:customer_email)%></td>
              <td><%= reservation.no_of_people%></td>
              <td><%= Time.at(reservation.booking_start_time).strftime("%d/%m/%Y %H:%M") + " - " + Time.at(reservation.booking_end_time).strftime("%d/%m/%Y %H:%M")%></td>
              <td><%= reservation.type%></td>
              <td><%= reservation.status%></td>
              <td><%= link_to 'Edit', edit_reservation_path(reservation)%> | <%= link_to 'Delete', reservation_path(reservation), method: :delete%></td>
            </tr>
          <%end%>
        </tbody></table>
      </div>
      <div class="box-footer clearfix">
        <%=paginate @reservations%>
      </div>
    </div>
  </div>
</div>