<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2018 <a href="https://github.com/sagar18041">Sagar Patil</a>.</strong> All rights
  reserved.
</footer>