<header class="main-header">
  <!-- Logo -->
  <%=link_to root_path, class: "logo" do%>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>LTE</span>
  <%end%>
  <!-- Header Navbar: style can be found in header.less -->
  <%= render 'navbar'%>
</header>