<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="">
        <%= link_to dining_tables_path do%>
          <i class="fa fa-dashboard"></i> <span>Tables</span>
        <%end%>
      </li>
      <li class="">
        <%= link_to reservations_path do%>
          <i class="fa fa-dashboard"></i> <span>Reservations</span>
        <%end%>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>